@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Almendra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Audiowide&display=swap');

.theme-gothic {
    background-color: black;
    font-family: 'Gothic A1', 'Papyrus', 'Almendra', 'Cinzel', serif;
    --color-text: #580606;
    --color-text-secondary: #911f1f;
    --color-border: #060000;
    --color-link: rgb(255, 180, 4);
    --color-link-hover: goldenrod;
}

.theme-space {
    background-color: black;
    font-family: 'Orbitron', 'Audiowide', 'Trebuchet MS', 'Courier New', sans-serif;
    --color-text: #39ff14; /* Bright neon green */
    --color-text-secondary: #0ff; /* Neon cyan */
    --color-border: #ff073a; /* Neon red */
    --color-link: #fffb00; /* Neon yellow */
    --color-link-hover: #ff00ff; /* Neon magenta */
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    color: var(--color-text);
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}